ALTER TABLE coaches ADD COLUMN coach_code text UNIQUE;

-- Sütunu tamamlama
ALTER TABLE public.training_sessions 
ADD COLUMN IF NOT EXISTS arrows_per_series INTEGER DEFAULT 3;

-- Optimize edilmiş sorgu - Tabloları, sütunları ve ilişkileri CSV formatında dışa aktarma
-- Sorgu gruplandırılarak ve gereksiz joinler azaltılarak optimize edildi

-- İlk olarak tabloları belirle (limit ekleyerek sonuç sayısını kontrol edebiliriz)
WITH tables AS (
    SELECT table_name
    FROM information_schema.tables 
    WHERE table_schema = 'public' 
    AND table_type = 'BASE TABLE'
),
-- Tablo sütunlarını ve primary key bilgilerini ayrı sorgu ile al
columns_with_pk AS (
    SELECT 
        c.table_name,
        c.column_name,
        c.data_type,
        c.is_nullable,
        c.column_default,
        CASE 
            WHEN EXISTS (
                SELECT 1 FROM information_schema.table_constraints tc
                JOIN information_schema.constraint_column_usage ccu 
                ON tc.constraint_name = ccu.constraint_name
                WHERE tc.table_schema = 'public'
                AND tc.constraint_type = 'PRIMARY KEY'
                AND ccu.table_name = c.table_name
                AND ccu.column_name = c.column_name
            ) THEN 'PK' 
            ELSE '' 
        END as is_primary_key
    FROM information_schema.columns c
    JOIN tables t ON c.table_name = t.table_name
    WHERE c.table_schema = 'public'
),
-- Ayrı bir sorgu ile foreign key bilgilerini al
foreign_keys AS (
    SELECT DISTINCT
        kcu.table_name,
        kcu.column_name,
        ccu.table_name AS foreign_table_name,
        ccu.column_name AS foreign_column_name
    FROM information_schema.table_constraints tc
    JOIN information_schema.key_column_usage kcu 
        ON tc.constraint_name = kcu.constraint_name
        AND kcu.constraint_schema = 'public'
    JOIN information_schema.constraint_column_usage ccu 
        ON tc.constraint_name = ccu.constraint_name
        AND ccu.constraint_schema = 'public'
    WHERE tc.constraint_type = 'FOREIGN KEY'
    AND tc.table_schema = 'public'
)
-- Son sorguda birleştirme işlemini daha optimize şekilde gerçekleştir
SELECT
    cpk.table_name,
    cpk.column_name,
    cpk.data_type,
    cpk.is_nullable,
    cpk.column_default,
    cpk.is_primary_key,
    fk.foreign_table_name,
    fk.foreign_column_name
FROM columns_with_pk cpk
LEFT JOIN foreign_keys fk 
    ON cpk.table_name = fk.table_name 
    AND cpk.column_name = fk.column_name
ORDER BY
    cpk.table_name,
    CASE WHEN cpk.is_primary_key = 'PK' THEN 0 ELSE 1 END,
    cpk.column_name;
